.header .logo-wrapper .logo {
	font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.mobile-navbar .mobile-header-logo .logo {
    font-size: 22px;
    line-height: 50px;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
}

.post .post-toc {
	font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
}

.post .post-content h1, .post .post-content h2, .post .post-content h3, .post .post-content h4, .post .post-content h5, .post .post-content h6 {
    font-weight: 400;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
}

.post .post-content a {
	word-break: normal;
}