.list-with-title .listing .listing-post {
    padding-bottom: 25px !important;
}

@media (min-width: 1921px)
{
	.sidebar {
		padding-left: 15% !important;
		width: 25% !important;
	}

	.content {
		padding-right: 15% !important;
		width: 45% !important;
	}
}

.sidebar {
	border-right: none !important;
}